
.table-customer {
    thead {
        tr {
            th {
                color: $brand-danger;
                font-weight: bold;
            }
        }
    }
}

.button-image {
    width: 25px !important;
    height: 25px !important;
    margin: 5px;
}

.image-small {
    width: 40px !important;
    height: 40px !important;
}

.column-large {
    max-width: 400px !important;
}

.margin-right-small {
    margin-right: 15px;
}

.text-normal {
    color: $mdb-text-color-primary;
}


