<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                                <img class="img" src="../assets/img/faces/marc.jpg" />
                            </a>
                </div>
                <div class="content">
                    <h3 class="card-title">Alec Thompson</h3>
                    <div class="col-md-5 text-left">
                        <div>
                            <div class="col-md-4 label-customer"> Tên khách hàng </div>
                            <div class="col-md-8 label-value-customer"> Vũ Ngọc Vương </div>
                        </div>
                        <div>
                            <div class="col-md-4 label-customer"> Số điện thoại </div>
                            <div class="col-md-8 label-value-customer"> 0967245018 </div>
                        </div>

                        <div>
                            <div class="col-md-4 label-customer"> Ngày sinh </div>
                            <div class="col-md-8 label-value-customer"> 09/08/1992 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>