<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content table-responsive">
                        <table class="table table-customer">
                            <thead>
                                <tr>
                                    <th>Khách hàng</th>
                                    <th>SĐT</th>
                                    <th>Ngày sinh</th>
                                    <th>Mua lần cuối</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let menuItem of customers">
                                    <td>Đăng Thu Trang</td>
                                    <td>0976954188</td>
                                    <td>04/09/1992</td>
                                    <td>04/09/1992</td>
                                    <td>
                                        <img class="button-image-customer" src="../src/assets/img/icon-fb-messenger.png" alt="Facebook icon">
                                        <img class="button-image-customer" src="../src/assets/img/icon-facebook.png" alt="Facebook icon">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>