<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Khách hàng</th>
                                    <th>SĐT</th>
                                    <th>Địa chỉ</th>
                                    <th>Loại KH</th>
                                    <th>Mua lần cuối</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cus of customers">
                                    <td>
                                        <tr>
                                            <td>
                                                <img class="image-small margin-right-small img-circle" src={{cus.facebook.avarta}}
                                                    alt="avarta">
                                            </td>
                                            <td>{{cus.facebook.name}} </td>
                                        </tr>
                                    </td>
                                    <td>{{cus.phone}}</td>
                                    <td class="column-large">
                                        {{cus.address}}
                                        <td>{{cus.customerType}}</td>
                                        <td>{{cus.lastBought}}</td>
                                        <td>
                                            <img class="button-image margin-right-small" src="../src/assets/img/icon-fb-messenger.png" alt="Facebook icon">
                                            <img class="button-image" src="../src/assets/img/icon-facebook.png" alt="Facebook icon">
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>